* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chartreuse;
    color: brown;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    color: red;
    font-size: large;
}

.section {
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: darkmagenta;
    color: goldenrod;
}
    
.section img {
    border: 1px solid red;
    border-radius: 2%;
}

.flex-container {
    display: flex;
    background-color: coral;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-container div {
    background-color: blueviolet;
    color: blue;
    margin: 30px;
    border: 260px;
    padding: 250px;
    font-size:130px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
    
}

.rise {
    color: red;
}